{% extends 'navbar.html' %}
{% block title %}
    Phonebook
{% endblock %}

{% block content %}

    <h1> Welcome to your personal Phonebook </h1>

    <div class="text">
    <p class="text">To add, search or delete a contact use the buttons below </p> <br>
    <a href="https://marius97.pythonanywhere.com/add"><button type="button" class="pure-button" value="Link" > Add Contact</button></a>
    <a href="https://marius97.pythonanywhere.com/search"><button type="button" class="pure-button" value="Link" > Search a Contact</button></a> <br><br>
    <a href="https://marius97.pythonanywhere.com/delete"><button type="button" class="pure-button" value="Link" > Delete a Contact</button></a>
    </div>
    
    <a href="https://marius97.pythonanywhere.com/menu"><button type="button" class="pure-button" value="Link"> Back </button></a>

{% endblock %}
